<h1><%= icon('newspaper-o') %> Devon Kiss Studio's Articles</h1>
<hr>

<div class="media is-fullwidth">
	<div class="media-body">
		<% @articles.each do |article| %>
			<h3 class="article__title"><%= article.title %></h3>

			<div>
					<span class="tag is-light date">PUBLISHED <%= article.created_at.strftime('%m/%d/%Y') %></span>
			</div>

				<%= article.text %>

			<br /><br />
		<% end %>

		<hr />
		<% if user_signed_in? %>
		<button class="button is-medium">
			<%= link_to icon('newspaper-o')+' Create New Article', new_article_path %>
		</button>
		<% else %>
		<button class="button is-medium">
			<%= link_to icon('sign-in')+' Sign In', new_user_session_path %>
		</button>
		<% end %>
	</div>
</div>
