<%= form_with(model: @article, local: true) do |form| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Title"  %>
    <%= form.text_field :title, id: :title, class: "input is-medium" %>
  </div>

  <br>

  <div class="field">
    <%= form.label "Text"  %>
    <%= form.text_area :text, id: :text, class: "textarea is-medium" %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit "Publish Article", class: "button is-medium" %>
  </div>
<% end %>
