<h1><%= icon('leaf') %> Articles</h1>
<hr>

<div class="media is-fullwidth">
	<div class="media-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Slug</th>
					<th colspan="3"></th>
				</tr>
			</thead>
			<tbody>
				<% @articles.each do |article| %>
				<tr>
					<td><%= article.id %></td>
					<td><%= article.title %> </td>
					<td><%= article.slug %> </td>
					<td><%= link_to 'Show', article, class: 'btn btn-sm btn-default' %></td>
	        <td><%= link_to 'Edit', edit_article_path(article), class: 'btn btn-sm btn-success' %></td>
	        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= link_to icon('leaf')+' Create New Article', new_article_path, class: "" %>
	</div>
</div>