<h1 class="article__title"><%= @article.title %></h1>
<hr>
<p class="date">
	PUBLISHED <%= @article.created_at.strftime('%m/%d/%Y') %>
</p>
<br>

	<%= @article.text %>

<hr>

<%= link_to 'Edit', edit_article_path(@article), class: "button is-rounded" %>
<%= link_to 'Back', articles_path, class: "button is-rounded" %>