<!-- <div class="navbar-end">
  <div class="navbar-item">
    <div class="field is-grouped">
      <p class="control">
        <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://localhost:4000" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=http://localhost:4000&amp;via=jgthms">
          <span class="icon">
            <i class="fa fa-twitter"></i>
          </span>
          <span>
            Tweet
          </span>
        </a>
      </p>
      <p class="control">
        <a class="button is-primary" href="https://github.com/jgthms/bulma/archive/0.5.1.zip">
          <span class="icon">
            <i class="fa fa-download"></i>
          </span>
          <span>Download</span>
        </a>
      </p>
    </div>
  </div>
</div> -->