<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make, id: :vehicle_make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :vehicle_model %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :vehicle_year %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :vehicle_price %>
  </div>

  <div class="field">
    <%= form.label :for_sale %>
    <%= form.check_box :for_sale, id: :vehicle_for_sale %>
  </div>

  <div class="field">
    <%= form.label :interior_color %>
    <%= form.text_field :interior_color, id: :vehicle_interior_color %>
  </div>

  <div class="field">
    <%= form.label :exterior_color %>
    <%= form.text_field :exterior_color, id: :vehicle_exterior_color %>
  </div>

  <div class="field">
    <%= form.label :craigslist_url %>
    <%= form.text_field :craigslist_url, id: :vehicle_craigslist_url %>
  </div>

  <div class="field">
    <%= form.label :website_url %>
    <%= form.text_field :website_url, id: :vehicle_website_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
